.side-bar-open {
    background-color: var(--grey);
    width: 4rem;
    height: 40rem;
    padding: 0.2rem 0;
    position: absolute;
    border-top-right-radius: 1.5rem;
    border-bottom-right-radius: 1.5rem;
    top: 50%;
    left: 0%;
    transform: translate(0%, -50%);
    transition: .5s;
}

.side-bar-close {
    background-color: var(--grey);
    width: 4rem;
    height: 40rem;
    position: absolute;
    border-top-right-radius: 1.5rem;
    border-bottom-right-radius: 1.5rem;
    top: 50%;
    left: 0%;
    transform: translate(-90%, -50%);
    transition: .5s;
}
.islands-container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}