.form-box{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 40rem;
    height: 15rem;
    gap: 2rem;
    transition: 1s;
}
.form-inputs{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-start;
    align-items: center;
    justify-content: flex-start;
    width: 31rem;
    gap: 1rem;
}
.input-container{
    display: flex;
    flex-direction: column;
    width: 15rem;
}
.input-container label {
    font-size: 1.2rem;
    font-weight: bold;
    color: var(--grey);;
}
.input-container input {
    color: var(--grey);
    font-size: medium;
    background-color: var(--grey2);
    width: 15rem;
    height: 2.5rem;
    padding: .2rem;
    border: 3px solid var(--blue1);
    border-radius: .3rem;
    outline: none;
}
.input-container input:focus{
    border: 4px solid var(--blue1);
    outline: none;
}

.form-actions{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    justify-content: center;
}
.form-actions button{
    font-size: 1rem;
    font-weight: bold;
    color: var(--grey);
    background-color: var(--blue1);;
    width: 8rem;
    margin-left: 2rem;
    height: 2.5rem;
    border-radius: .6rem;
    border: none; 
    transition: .5s;
    padding: .8rem;
}


.form-actions button:hover{
    transform: scale(1.05,1.05);   
}

.close-container{
    width: 30rem;
    height: 15rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.create-button{
    font-size: 1rem;
    font-weight: bold;
    color: var(--grey);
    background-color: var(--blue1);;
    width: 12rem;
    margin-left: 2rem;
    height: 2.5rem;
    border-radius: .6rem;
    border: none; 
    transition: .5s;
    padding: .8rem;
}
.create-button:hover{
    transform: scale(1.05,1.05);   
}