.info-container{
    background-color: var(--grey);
    position: absolute;
    width: 60rem;
    height: 6rem;
    border-radius: 1.2rem;
    top: 88%;
    left: 50%;
    transform: translate(-50%,0%);
    transition: .5s;
}
.info-container-close{
    background-color: var(--grey);
    position: absolute;
    width: 60rem;
    height: 6rem;
    border-radius: 1.2rem;
    top: 100%;
    left: 50%;
    transform: translate(-50%,0%);
    transition: .5s;
}
.island-name{
    font-size: 1.5rem;
    color: var(--blue);
    padding: .5rem 1.2rem;
}

.itens-container{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0 1.2rem;
}
.itens{
    font-size: 1.2rem;
    font-weight: bold;
    color: var(--blue);
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: .6rem;
}