.form-box{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-start;
    width: 40rem;
    height: 10rem;
    align-items: center;
    padding: 1rem 2rem;
    gap: 1rem;
}
.form-box-data{
    display: flex;
    flex-direction: column;
    width: 15rem;
}
.form-box-data label {
     font-size: 1.2rem;
     font-weight: bold;
}
.form-box-data input {
    width: 15rem;
    height: 2rem;
    padding: .2rem;
    border: 3px solid var(--blue1);
    border-radius: .3rem;
    outline: none;
}
.form-box-data input:focus{
    border: 4px solid var(--blue1);
    outline: none;
}

.form-submit-button{
    font-size: 1rem;
    font-weight: bold;
    color: var(--grey);
    background-color: var(--blue1);;
    width: 10rem;
    height: 2.5rem;
    border-radius: .2rem;
    border: none; 
    transition: .5s;
}
.form-submit-button:hover{
    transform: scale(1.05,1.05);
}