.map{
    width: 100vw;
    height: 100vh;
    background-color: rgb(128, 128, 128);

}
.map-title{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 3rem;
    background-color: var(--blue);
    color: white;
    font-weight: bold;
    font-size: 1.5rem;
}